.hero {
  height: 300px;
  width: 100%;
  background-image: url("../images/mac.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.label {
  height: 200px;
  width: 600px;
  background-size:  contain;
  background-repeat: no-repeat;
  background-image: url("../images/rec.png");
  margin-right: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.test {
  border: 3px solid limegreen;
}

.lower {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.headerMove {
  animation: headermove;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.mainRec {
  width: 100%;
  height: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 4px 4px 5px #888888;
  background: white;
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-top: 10px;
}

.mainRecHead {
  width: 100%;
  font-size: 18pt;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 4px 4px 5px #888888;
  white-space: nowrap;
}

.mainRecDesc {
  font-size: 10pt;
  height: auto;
  margin-bottom: 4px;
}

.mainRecRating {
  margin-top: 10px;
  margin-bottom: 15px;
}

.recPageHero {
  width: 100%;
  height: 300px;
  font-family: 'Source Sans Pro', sans-serif;
}

.mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  overflow: hidden;
  width: 30%;
}

.mainImg img {
  flex-shrink: 0;
  min-height: 100%;
}

.mainRecInfo {
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
}

.recPageHead {
  font-size: 45pt;
  font-weight: bold;
  width: 100%;
  background: #73e600;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
  z-index: auto;
}

.recPageDesc {
  font-size: 18pt;
}

.recList {
  position: fixed;
  height: 50%;
  width: 18%;
  background-color: white;
  border-color: #73e600;
  border-color: -webkit-linear-gradient(left, #73e600 , white);
  border-color: -o-linear-gradient(right, #73e600, white); /
  border-color: -moz-linear-gradient(right, #73e600, white);
  border-color: linear-gradient(to right, #73e600 , white);
  border-width: 4px;
  left: 5%;
  margin-top: 7%;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18pt;
  padding-top: 5px;
  border-style: solid;
}

.listing {
  font-size: 14pt;
  text-decoration: none;
  display: flex;
  width: 90%;
  justify-content: space-between;
  white-space: nowrap;
  margin-top: 5px;
}

.deleteListingButton {
  height: 70%;
  width: 8%;
  border: none;
  background-color: red;
  outline: none;
  color: white;
  text-align: center;
}

.titleAuthorWindow {
  position: fixed;
  height: 50%;
  width: 50%;
  background-color: white;
  margin-top: 6%;
  margin-left: 6.4%;
  display: flex;
  flex-direction: column;
}

.titleAuthorWindowHead {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30pt;
  color: darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #73e600;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  color: white;
  width: 100%;
  padding-left: 40px;
  border-radius: 3px;
}

.titleAuthorWindowBody {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  box-shadow: 4px 4px 5px #888888;
}

.recTitle {
  outline: none;
  height: 35px;
  width: 95%;
  margin-bottom: 6px;
  border: 1px solid grey;
  font-size: 14pt;
}

.recAuthor {
  outline: none;
  height: 35px;
  width: 95%;
  margin-bottom: 6px;
  border: 1px solid grey;
  font-size: 14pt;
}

.recBody {
  outline: none;
  height: 250px;
  width: 85%;
  resize: none;
  border: 1px solid grey;
}

.recPageRating {
  font-size: 30pt;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerTop {
  display: flex;
  align-items: center;
}

.recipeSteps {
  width: 90%;
  height: 65%;
  overflow: auto;
  margin-top: 5%;
}

.reviewBox {
  width: 90%;
  height: 75%;
  overflow: auto;
  /*margin-bottom: 50px;*/
}

.step {
  width: 99.5%;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  margin-bottom: 9px;
  /*box-shadow: 2px 2px 2px #888888;*/
}

.stepBody {
  margin-left: 7px;
  font-size: 14pt;
  margin-top: 5px;
  height: auto;
  margin-bottom: 4px;
}

.stepHead {
  width: 100%;
  height: 10px;
  color: white;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 5px;
  box-shadow: 2px 2px 2px #888888;
}

.reviewWindow {
  position: fixed;
  z-index: auto;
  width: 65%;
  height: 38%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
  margin-left: 15%;
}

.reviewContainer {
  width: 38%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.reviewContainerPre {
  width: 100%;
  height: auto;
}

.reviewImg {
  height: 100%;
  width: 20%;
  background-image: url('../images/review.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.reviewContainerPost {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 2px #888888;
}

.reviewInput {
  height: 10%;
  width: 90%;
  border: 1px solid darkslategrey;
  outline: none;
}

.reviewBody {
  height: 50%;
  width: 90%;
  border: 1px solid darkslategrey;
  outline: none;
  resize: none;
}

.newReviewForm {
  width: 38%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.review {
  width: 99.5%;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.reviewWindowHead {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30pt;
  color: darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #73e600;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  color: white;
  width: 100%;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #888888;
}

.reviewHeader {
  width: 100%;
  height: 10px;
  color: white;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 5px;
  box-shadow: 2px 2px 2px #888888;
}

.addReviewButton {
  width: 90px;
  height: 25px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
}

.createRecBack {
  width: 90px;
  height: 25px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
}

  .recSubmit {
  width: 90px;
  height: 25px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
}

.addRecipeButton {
  width: 250px;
  height: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid black;
  color: black;
  border-radius: 8px;
  font-size: 30pt;
  font-weight: bold;
  outline: none;
  background: none;
  margin-bottom: 225px;
  margin-right: 30px;
}

.singleRecipe {
  width: 29%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveSingle;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  padding-top: 25px;
}

.singleRecBackButton {
  width: 150px;
  height: 35px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
  margin-bottom: 8px;
}

#recDelete {
  width: 150px;
  height: 35px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
  margin-bottom: 8px;
  margin-bottom: 15%;
  background: red;
}

.reviewBackButton {
  width: 90px;
  height: 25px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
}

.showRecipe {
  width: 95%;
  height: auto;
  /*border-bottom: 3px solid #e6d1cc;*/
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.showRecipeHead {
  margin-bottom: 15px;
  font-size: 22pt;
}

.reviewButton {
  width: 150px;
  height: 15px;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13pt;
  text-align: center;
  outline: none;
  color: #e6d1cc;
  border: none;
  margin-bottom: 20px;
}

.addRecipeWindow {
  position: fixed;
  height: 600px;
  width: 65%;
  margin: auto;
  z-index: auto;
  top: 50px;
  left: 17%;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px;
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: row;
  animation: addCreate;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

.addRecipeWindow2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100;
  width: 85%;
}

.addRecHead {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30pt;
  color: darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #73e600;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  color: white;
  width: 100%;
  padding-left: 40px;
  border-radius: 3px;
}

.addStepContainer {
  width: 99.7%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}

.addStepContainerWhole {
  width: 95%;
  height: 74%;
  align-items: center;
  overflow: auto;
  margin-top: 10px;
}

.addIngredientText {
  width: 70%;
  outline: none;
  font-size: 14pt;
  height: 91%;
  resize: none;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 3px 3px 3px #888888;
  border: none;
}

.addIngredient {
  height: 93%;
  width: 23%;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  overflow: scroll;
  box-shadow: 3px 3px 3px #888888;
}
/*
.addIngredientHeader {
  width: 10%;
  height: 4%;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  box-shadow: 3px 3px 3px #888888;
  z-index: auto;
  position: relative;
  top: 16%;
}*/

.addRecImg {
  height: 600px;
  width: 180px;
  background-image: url('../images/addRec.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.singleIngredient {
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
  padding-left: 5px;
  padding-top: 5px;
}

.ingredient {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 5px;

}

.buttonDiv {
  height: 40px;
  width: 99.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.buttonDiv2 {
  height: 40px;
  width: 99.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buttonDivAdd {
  height: 40px;
  width: 99.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.nextStepButton {
  width: 150px;
  height: 35px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
}

.newIngredientButton {
  width: 150px;
  height: 35px;
  border: none;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
}

.createNewRecipeButton {
  width: 100px;
  height: 35px;
  border: none;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
  color: white;
}

.ingredientWindow {
  position: fixed;
  height: 300px;
  width: 60%;
  margin: auto;
  z-index: auto;
  top: 150px;
  left: 20%;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 5px #888888;
  justify-content: space-between;
  animation: addCreate;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

.ingredientWindow2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 75%;
}

.ingredientImg {
  background-image: url("../images/ing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24%;
  height: 300px;
}

.ingredientName {
  width: 70%;
  height: 40px;
  border: 2px solid darkslategrey;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  border-radius: 5px;
  outline: none;
}

select {
  width: 150px;
  height: 40px;
  border: 2px solid darkslategrey;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  border-radius: 5px;
}

.optionsDiv {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.addIngredientButton {
  width: 100px;
  height: 35px;
  border: none;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  border-radius: 5px;
  outline: none;
  color: white;
}

.addIngredientButton2 {
  width: 100px;
  height: 35px;
  border: none;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  border-radius: 5px;
  outline: none;
  color: white;
}

.noClick {
  pointer-events: none;
}

.click {
  pointer-events: auto;
}

.dummy {

}
.singleIngredient:hover {
  background-color: #e6ffcc
}

.move {
  z-index: auto;
  animation: recMovement;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
}

.move2 {
  z-index: auto;
  animation: recMovement2;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
}

.collapse {
  animation: recCollapse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.headershrink {
  animation: headerCollapse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes recMovement {
  0% {width: 100%; height: 120px; }
  35% {width: 212%; height: 120px; opacity: 1;}
  100% {width: 212%; height: 600%; opacity: 1;}
}

@keyframes recMovement2 {
  0% {width: 100%; position: relative; right: 0px; height: 120px;}
  35% {width: 212%; position: relative; right: 110%; height: 120px;}
  100% {width: 212%; position: relative; right: 110%; height: 600%;}
}

.heroShrink {
  animation: heroShrink;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes heroShrink {
  0% {height: 300px;}
  50% {height: 300px;}
  100% {height: 100px;}
}

@keyframes moveSingle {
  0% {width: 0%}
  100% {width: 29%}
}

@keyframes headermove {
  0% {margin-left: -30px; padding-left: 30px; padding-right: 30px;}
  100% {margin-left: -50px; padding-left: 70px; padding-right: 520px;}
}

@keyframes headerCollapse {
  0% {margin-left: -50px; padding-left: 70px; padding-right: 520px;}
  100% {margin-left: -30px; padding-left: 30px; padding-right: 30px;}
}

@keyframes addCreate {
  0% {width: 0%}
  100% {width: 65%}
}

@keyframes recCollapse {
  0% {width: 212%; height: 600%; opacity: 1;}
  100% {width: 100%; height: 120px;}
}

@keyframes recCollapse2 {
  0% {width: 100%; position: relative; right: 0px; height: 120px;}
  35% {width: 212%; position: relative; right: 110%; height: 120px;}
  100% {width: 212%; position: relative; right: 110%; height: 600%;}
}
