.hero {
  height: 300px;
  width: 100%;
  background-image: url("../images/mac.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.label {
  height: 200px;
  width: 600px;
  background-size:  contain;
  background-repeat: no-repeat;
  background-image: url("../images/rec.png");
  margin-right: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.test {
  border: 3px solid limegreen;
}

.lower {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainRecBuffer {
  margin-top: 5px;
}

.mainRec {
  width: 100%;
  height: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: 4px 4px 5px #888888;
}

.mainRecHead {
  width: 100%;
  font-size: 18pt;
  font-weight: bold;
  color: white;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  padding-top: 4px;
  padding-bottom: 4px;
}

.mainRecDesc {
  font-size: 10pt;
}

.mainRecRating {

}

.recPageHero {
  width: 100%;
  height: 300px;
  font-family: 'Source Sans Pro', sans-serif;
}

.mainImg {
  float: left;
  height: 100%;
  margin-right: 10px;
}

.recPageHead {
  font-size: 45pt;
  font-weight: bold;
  width: 100%;
  background: #73e600;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
}

.recPageDesc {
  font-size: 18pt;
}

.recPageRating {
  font-size: 30pt;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerTop {
  display: flex;
  align-items: center;
}

.recipeSteps {
  width: 90%;
  height: 366px;
  overflow: auto;
}

.reviewBox {
  width: 90%;
  height: 75%;
  overflow: auto;
  /*margin-bottom: 50px;*/
}

.step {
  width: 99.5%;
  height: 90px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  margin-bottom: 9px;
  box-shadow: 2px 2px 2px #888888;
}

.stepHead {
  width: 100%;
  height: 10px;
  color: white;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 5px;
}

.review {
  width: 99.5%;
  height: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10pt;
  margin-bottom: 4px;
  border-bottom: 2px solid darkslategrey;
}

.addReviewButton {
  width: 150px;
  height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid brown;
  color: brown;
  border-radius: 3px;
  font-size: 10pt;
  font-weight: 600;
  outline: none;
}

.addRecipeButton {
  width: 250px;
  height: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid black;
  color: black;
  border-radius: 8px;
  font-size: 30pt;
  font-weight: bold;
  outline: none;
  background: none;
  margin-bottom: 225px;
  margin-right: 30px;
}

.addRecipeWindow {
  position: fixed;
  height: 600px;
  width: 65%;
  margin: auto;
  z-index: auto;
  top: 50px;
  left: 17%;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px;
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: row;
}

.addRecipeWindow2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100;
  width: 85%;
}

.addRecHead {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30pt;
  color: darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #73e600;
  background: -webkit-linear-gradient(left, #73e600 , white);
  background: -o-linear-gradient(right, #73e600, white); /
  background: -moz-linear-gradient(right, #73e600, white);
  background: linear-gradient(to right, #73e600 , white);
  color: white;
  width: 100%;
  padding-left: 40px;
  border-radius: 3px;
}

.addStepContainer {
  width: 99.7%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}

.addStepContainerWhole {
  width: 95%;
  height: 80%;
  align-items: center;
  overflow: auto;
  border-top: 2px solid darkslategrey;
  border-bottom: 2px solid darkslategrey;
  margin-top: 10px;
}

.addIngredientText {
  width: 75%;
  outline: none;
  font-size: 14pt;
  height: 91%;
  resize: none;
  border: 2px solid darkslategrey;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

.addIngredient {
  height: 93%;
  width: 23%;
  border: 2px darkslategrey solid;
  border-radius: 5px;
  background-color: white;
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  overflow: scroll;;
}

.addRecImg {
  height: 600px;
  width: 180px;
  background-image: url('../images/addRec.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.singleIngredient {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid black;
  padding-left: 5px;
  padding-top: 5px;
}

.buttonDiv {
  height: 40px;
  width: 99.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonDiv2 {
  height: 40px;
  width: 99.7%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nextStepButton {
  width: 150px;
  height: 35px;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
  border: none;
}

.newIngredientButton {
  width: 150px;
  height: 35px;
  border: none;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  border-radius: 5px;
  text-align: center;
  outline: none;
  color: white;
}

.createNewRecipeButton {
  width: 100px;
  height: 35px;
  border: 2px solid darkslategrey;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
}

.ingredientWindow {
  position: fixed;
  height: 300px;
  width: 60%;
  margin: auto;
  z-index: auto;
  top: 150px;
  left: 20%;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px 5px #888888;
  justify-content: space-between;
}

.ingredientWindow2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 75%;
}

.ingredientImg {
  background-image: url("../images/ing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24%;
  height: 300px;
}

.ingredientName {
  width: 70%;
  height: 40px;
  border: 2px solid darkslategrey;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  border-radius: 5px;
  outline: none;
}

select {
  width: 150px;
  height: 40px;
  border: 2px solid darkslategrey;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18pt;
  border-radius: 5px;
}

.optionsDiv {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.addIngredientButton {
  width: 100px;
  height: 35px;
  border: none;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  border-radius: 5px;
  outline: none;
  color: white;
}

.addIngredientButton2 {
  width: 100px;
  height: 35px;
  border: none;
  background: #e6d1cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  border-radius: 5px;
  outline: none;
  color: white;
}

.singleIngredient:hover {
  background-color: #e6ffcc
}
